*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.conteudo{
    border-radius: 36px;
    width: 1200px;
    height: 500px;
    background-color: aqua;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    display: flex;
}

.principal{
    background-color: yellowgreen;
    width: 340px;
    height: 100%;
    border-radius: 26px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clima-local{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clima-local h3{
    text-align: center;
    margin-top: 40px;
}

.imagem{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.imagem img{
    width: 100%;

}

.outros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.rigth{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
.navegador{
    background-color: blueviolet;
    width: 100%;
}

.menuNavegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.semanal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dias{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    height: 260px;
}

.dias_top{
    text-align: center;
}

.dias_top h1{
    font-size: 20px;
}


.dias_bottom span{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.img{
    margin-right: 20px;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.img img{
    width: 100%;

}

.regiao{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: tomato;
}

.regiao_left{
    display: flex;
    background-color: blue;
    border-radius: 16px;
    padding: 10px;
}


.regiao_middle{
    display: flex;
    background-color: chocolate;
    border-radius: 16px;
    padding: 10px;
}

.regiao_right{
    display: flex;
    background-color: blueviolet;
    border-radius: 16px;
    padding: 10px;
}

.regiao_info{
    display: flex;
    flex-direction: column;
}
